/home/marcus/Desktop/Research/PiNets/TensorFlowTutorials/MNIST_data/*
/home/marcus/Desktop/Research/PiNets/TensorFlowTutorials/PreBuiltBinary/*
/home/marcus/Desktop/Research/PiNets/TensorFlowTutorials/tensorflow/*
